.swiper-container {
    width: 100%;
    .-main-banner { 
        height: 640px;
    }
}
  
.swiper-iam-mobile { 
    .swiper-slide { 
        height: 100%;
        width: 33.3333%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: calc(#{$space} * 4);
    }
}
.swiper-reason-mobile { 
    overflow: hidden;
    padding-bottom: 100px;
    .swiper-slide { 
        height: 100%;
        width: 33.3333%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: calc(#{$space} * 4);
        background-color: transparent;
        img { 
            height: auto;
        }
        &.-left { 
            .reason-img { 
                position: relative;
                .arrow-right { 
                    width: auto;
                    position: absolute;
                    top: 50%;
                    right: -50px;
                }
            }
            .item-container{ 
                width: 100%;
            }
            img { 
                max-width: 100%;
                margin: 0 auto;
            }
        }
        &.-center { 

            position: relative;
            justify-content: center;
            align-items: center;
            position: relative;
            .arrow-down { 
                position: absolute;
                bottom: -50px;
                width: 50px;
            }
            .arrow-circle { 
                position: absolute;
                left: inherit;
                top: 26px;
                // left: 50%;
                // top: 50%;
                // transform: translate(-50%, -50%);
                width: 100%;
                height: auto;
                object-fit: contain;
            }
            .item-container { 
                object-fit: unset;
                position: absolute;
                top: 50%;
                left: calc(50% - -30px);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                img { 
                    width: 250px;
                    object-fit: unset;
                }
            }
        }
        &.-right { 
            justify-content: flex-end;
            .reason-img { 
                position: relative;
                .arrow-left { 
                    width: auto;
                    position: absolute;
                    top: 50%;
                    left: -50px;
                }
            }
            .item-container{ 
                width: 100%;
            }
            img { 
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }
}
@media (min-width: $size-md) {
    .swiper-reason-mobile { 
        .swiper-slide { 
            &.-center { 
                .arrow-circle { 
                    width: 70%;
                    top: 14%;
                }
            }
        }
    }
}
@media (min-width: $size-lg) {
    .swiper-reason-mobile { 
        overflow: visible;
        .swiper-slide { 
            &.-left { 
                .item-container{ 
                    width: calc(100% - 80px);
                }
                img { 
                    max-width: 80%;
                }
            }
            &.-center { 
                @keyframes spin {
                    from {
                        transform: rotate(0deg);
                    }
                    to {
                        transform: rotate(360deg);
                    }
                }
                .arrow-circle { 
                    top: 26px;
                    animation-name: spin;
                    animation-duration: 5000ms;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear; 
                    object-fit: initial;
                }
            }
            &.-right { 
                .item-container{ 
                    width: calc(100% - 80px);
                }
                img { 
                    max-width: 80%;
                }
            }
        }
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination { 
    .swiper-pagination-bullet { 
        height:  2px;
        width: 71px;
        background-color: rgba(255, 255,255,.5);
        border-radius: 0;
        opacity: 1;
        &.swiper-pagination-bullet-active { 
            height:  4px;
            background-color: rgba(255, 255,255,1);
        }
    }
    &.dark-theme { 
        .swiper-pagination-bullet { 
            background-color: #ACACAC;
            &.swiper-pagination-bullet-active { 
                background-color: $primary-2;
            }
        }
    }
}