.ready-to-fusion {
    background-image: url("../img/ready-to-fusion-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .ready-to-fusion--content {
        padding-top: calc(#{$space} * 3);
        position: relative;
    }
    .pulse {
        position: absolute;
        top: 60%;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%, -60%);
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: #fff;
        color: $primary-1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: none;
        transition: $transition;
        &:hover {
            background-color: #eee;
        }
        i {
            font-size: 40px;
        }
        span {
            font-size: 25px;
            font-weight: bold;
        }
    }

    .pulse:before,
    .pulse:after {
        content: "";
        display: block;
        position: absolute;
        top: -20px;
        left: -20px;
        right: -20px;
        bottom: -20px;
        border: 1px solid #fff;
        border-radius: 50%;
        opacity: 0;
        background-visibility: hidden;
    }

    .animate:before,
    .animate:after {
        animation: animate 1.5s linear infinite;
    }

    .animate:after {
        animation-delay: 0.5s;
    }

    @keyframes animate {
        0% {
            transform: scale(0.5);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: scale(1.2);
            opacity: 0;
        }
    }
}

/* ------- IPAD PRO ABOVE ---------*/
@media (min-width: $size-lg) {
    .ready-to-fusion {
        .ready-to-fusion--control {
            img {
                max-width: 100%;
            }
            .pulse {
                top: -50%;
                left: 50%;
            }
        }
    }
}


.iam-fusion { 
    .iam-animate { 
        img { 
            width: 100%;
        }
        h3 { 
            margin-bottom: 0;
            color: $primary-1;
            font-weight: bold;
        }
        span { 
            font-size: 30px;
            font-weight: bold;
        }
    }
}

.reason-fusion { 
    background-image: url("../img/reason-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: calc(72px + 80px); // 72 is height of triangle.
                       
    .reason-content { 
        background-color: white;
        box-shadow: 6px 12px 20px rgba(0 ,0 ,0, .16);
        margin: $space auto;
        padding: calc(#{$space} / 2) $space;
        width: 80%;
        h3 { 
            margin-bottom: 0;
            line-height: 1;
        }
        span { 
            font-size: 25px;
        }
    }
}

.swiper-feature-product { 
    word-wrap: break-word;
    .slide-header { 
        position: absolute;
        width: 90%;
        left: 5%;
        top: 50px;
        z-index: 2;
        img { 
            height: auto;
            width: auto;
        }
    }
    .product-container { 
        .product-cold { 
            opacity: 1;
            transition: $transition;
        }
        .product-hot { 
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 0;
            transition: $transition;
        }
        img { 
            width: 100%;
        }
        a.product-link {
            position: relative;
            display: block;
            .btn-viewmore-hover { 
                opacity: 0;
            }
        }
    }
    .slide-button { 
        position: absolute;
        bottom: 50px;
        left: calc(50% - 90px);
        z-index: 1;
    }
}

@media (min-width: $size-lg) {
    
    .swiper-feature-product { 
        .slide-header { 
            width: 33.33%;
            left: 33.33%;
        }
        .product-container { 
            a.product-link {
                .btn-viewmore-hover { 
                    height: 65px;
                    width: 65px;
                    border-radius: 50%;
                    background-color: $primary-1;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    display: flex;
                    align-items: center;
                    justify-self: center;
                    flex-direction: column;
                    color: white;
                    padding-top: 5px;
                    box-shadow: $box-shadow;
                    transition: $transition;
                    i { 
                        font-size: 30px;
                    }
                    span { 
                        font-size: 20px;
                        line-height: 0.5;
                    }
                }
                &:hover { 
                    .btn-viewmore-hover { 
                        top: 20%;
                        opacity: 1;
                    }
                    .product-cold {
                        opacity: 0;
                    }
                    .product-hot { 
                        opacity: 1;
                    }
                }
            }
        }
    }
}