/*----- TREND ----- */
.page-fusion-trend { 
    background-image: url('../img/trend-page-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: $size-lg) {
    .search-container  {
        max-width: 530px;
        margin: 0 auto;
    }
}